In [1]:
import os
import cv2
import keras
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from numpy import loadtxt
from keras.models import load_model
import easyocr

In [2]:
model = load_model('rcnnplatemodel.h5')
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 224, 224, 3)]     0

 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

 flatten (Flatten)           (None, 25088)             0

 fc1 (Dense)                 (None, 4096)              102764544

 fc2 (Dense)                 (None, 4096)              16781312

 dense (Dense)               (None, 2)                 8194

=================================================================
Total params: 134,268,738
Trainable params: 126,633,474
Non-trainable params: 7,635,264
_________________________________________________________________

In [ ]:
cv2.setUseOptimized(True);
ss = cv2.ximgproc.segmentation.createSelectiveSearchSegmentation()

In [ ]:
img = cv2.imread("testinggambar/coba_plat2.jpg")
ss.setBaseImage(img)
ss.switchToSelectiveSearchFast()
ssresults = ss.process()
imout = img.copy()
for e,result in enumerate(ssresults):
    if e < 2000:
        x,y,w,h = result
        timage = imout[y:y+h,x:x+w]
        resized = cv2.resize(timage, (224,224), interpolation = cv2.INTER_AREA)
        img = np.expand_dims(resized, axis=0)
        out= model.predict(img)
        if out[0][0] > 0.98:
            #cv2.rectangle(imout, (x, y), (x+w, y+h), (0, 255, 0), 1, cv2.LINE_AA)
            crop_imout = imout[y:y+h, x:x+w]
            break
plt.figure()
plt.imshow(crop_imout)

In [ ]:
reader = easyocr.Reader(['en'])
result = reader.readtext(crop_imout)
result

In [ ]:
hasil = ""
for x in range(len(result)):
    hasil = hasil + result[x][1]
hasil.replace(" ", "")
hasil

In [7]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%d:%m:%Y %H:%M:%S")
print("Current Time =", current_time)

Current Time = 28:11:2021 20:07:26

In [8]:
df.loc[len(df.index)] = [current_time, "H1234BNG"] 
display(df)

                  time      plat
0             17:55:04  H1234BNG
1             17:55:04  H1234BNG
2             17:55:04  H1234BNG
3             17:55:04  H1234BNG
4             17:55:04  H1234BNG
5             17:55:04  H1234BNG
6             20:04:06  H1234BNG
7  28:11:2021 20:07:26  H1234BNG

In [20]:
df.to_csv('database_plat.csv', mode='a', index = False, header=None)

In [5]:
import pandas as pd
df = pd.read_csv (r'database_plat.csv')
print (df)

       time      plat
0  17:55:04  H1234BNG
1  17:55:04  H1234BNG
2  17:55:04  H1234BNG
3  17:55:04  H1234BNG
4  17:55:04  H1234BNG
5  17:55:04  H1234BNG

In [14]:
val = df['H1234BNG'].values[1]
print(val)

H1234BNG

In [15]:
length = len(df['H1234BNG'].values)

In [16]:
print(length)

3

In [22]:
found = 0
for i in range(len(df['plat'].values)):
    if "H1234BNG" == df['plat'].values[i]:
        found = 1;
if found == 1:
    print("plat terdaftar")
else:
    print("plat tidak terdaftar")

plat terdaftar

In [1]:
import tensorflow as tf
print(tf.__version__)

2.7.0

In [2]:
import keras
print(keras.__version__)

2.7.0

In [5]:
import easyocr
print(easyocr.__version__)

1.4.1

In [ ]:
Y_pred = model.predict_generator(validation_generator, 2 // batch_size+1)
y_pred = np.argmax(Y_pred, axis=1)
print('Confusion Matrix')
print(confusion_matrix(validation_generator.classes, y_pred))
print('Classification Report')
target_names = ['Cats', 'Dogs', 'Horse']
print(classification_report(validation_generator.classes, y_pred, target_names=target_names))